@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	color-scheme: light dark;
	/* Fonts */
	--font-title: "Oxanium", sans-serif;
	--font-text: "Jost", sans-serif;
	--font-code: "Ubuntu Mono", monospace;
	/* Catppuccin latte */
	--lightmode-bg-color: #eff1f5; /* base */
	--lightmode-fg-color: #181825; /* mocha mantle , old text #4c4f69*/
	--lightmode-border-color: #bcc0cc; /* surface1 */
	--lightmode-quote-color: #8839ef; /* mauve */
	--lightmode-hyperlink-color: #1e66f5; /* blue */
	--lightmode-mark-bg-color: #f9e2af; /* yellow */
	--lightmode-subtitle-color: #d20f39; /* red */
	/* Catppuccin mocha */
	--darkmode-bg-color: #11111b; /* crust */
	--darkmode-fg-color: #cdd6f4; /* text */
	--darkmode-border-color: #45475a; /* surface1 */
	--darkmode-quote-color: #cba6f7; /* mauve */
	--darkmode-hyperlink-color: #89b4fa; /* blue */
	--darkmode-mark-bg-color: #f9e2af; /* yellow */
	--darkmode-subtitle-color: #f38ba8; /* red */
}

body {
	font-family: var(--font-text);
	counter-reset: h2;
	margin: auto;
	font-size: 20px;
	/* line-height: 1.5em; */
	background-color: light-dark(var(--lightmode-bg-color), var(--darkmode-bg-color));
	color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

.breadcrumbs {
	padding-top: 0.3rem;
  	border-bottom: dashed 1px;
  	padding-bottom: .9rem;
	font-family: var(--font-title);
	font-size: 95%;
	letter-spacing: -0.2px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.breadcrumbs a {
	text-decoration-line: none;
	color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

a {
	color: light-dark(var(--lightmode-hyperlink-color), var(--darkmode-hyperlink-color));
}

a:hover {
	font-weight: 400;
}

article ul li::marker {
	content: '- ';
}

main {
	margin-top: 10px;
}

p {
	margin-top: 1.7rem;
	hyphens: auto;
	word-break: break-word;
}

.content ul, {
	margin-bottom: 1.7rem;
}
.content ol {
	margin-bottom: 1.7rem;
	margin-left: 0.5rem;
}

.content ul li::marker {
	content: '- ';
}

.content h2 ~ p {
  margin-top: 1.2rem;
}

.content > hr {
	border: none;
}

.article-list {
	padding: 1rem 0 0 0;
	font-family: var(--font-title);
	font-size: 95%;
	line-height: 1.4;
} 

.article-list a {
	text-decoration-line: none;
	color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

.tags a {
	text-decoration-line: none;
	font-family: var(--font-title);
	font-size: 90%;
}

.meta a {
	text-decoration-line: none;
}

.meta a:hover {
	text-decoration-line: underline;

}

.toc-block a {
	text-decoration-line: none;
}

.toc-block a:hover {
	font-weight: 400;
}

.article-list li {
	list-style: none;
	display: flex;
	margin-top: 5px;
}

.article-list .divider {
	flex-grow: 1;
	border-bottom: 1px dashed light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	margin: 0.5rem;
}

.article-list .pubdate {
	border-color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	font-size: 95%;
}

h2 {
	counter-reset: h3;
}

h3 {
	counter-reset: h4;
}

h4 {
	counter-reset: h5;
}

h5 {
	counter-reset: h6;
}

h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}

h3:before {
	counter-increment: h3;
	content: counter(h2) "."counter(h3) ". ";
}

h4:before {
	counter-increment: h4;
	content: counter(h2) "."counter(h3) "."counter(h4) ". ";
}

h5:before {
	counter-increment: h5;
	content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) ". ";
}

h6:before {
	counter-increment: h6;
	content: counter(h2) "."counter(h3) "."counter(h4) "."counter(h5) "."counter(h6) ". ";
}

h1.nocount {
	padding-bottom: 1.2rem;
	padding-top: 1.2rem;
	font-size: 1.2rem;
}

h2.nocount:before,
h3.nocount:before,
h4.nocount:before,
h5.nocount:before,
h6.nocount:before {
	content: "";
	counter-increment: none;
}

header {
	margin: 2rem 0 0;
	padding-bottom: 2rem;
	border-block: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	border-width: 0 0 1px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

header .title {
  font-size: 160%;
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration-line: none;
  font-family: var(--font-title);
  color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

header .title::after,
header .title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color)), light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color)));
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

header .title::before {
  top: -10px;
  transform-origin: left;
}

header .title:hover::after,
header .title:hover::before {
  transform: scaleX(1);
}

header .a {
	text-align: left;
	font-size: 1.4rem;
	text-decoration-line: none;
}
 
.menu a::before {
	content: '/';
}

.nav-links a::before {
	content: '/';
}

.menu::after {
	content: ' ';
}

.menu {
	text-decoration: none;
	font-family: var(--font-title);
	font-size: 1.3rem;
	color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

.nav-links {
  display: flex;
  gap: 0.3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags {
	border: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	border-width: 0 0 1px;
	padding-bottom: 1rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.front-block {
	padding: 1rem 0 0.1rem;
}

.front-block .title,
.front-block .meta {
	display: flex;
	align-items: center;
	padding-top: 0.1rem;
	font-family: var(--font-title);
	font-size: 95%;
}

.front-block .title .divider,
.front-block .meta .divider {
	flex-grow: 1;
}

.Language {
	text-decoration-line: none;
}

.Language::before {
	content: '// ';
	filter: contrast(30%);
}

.title h1 {
	margin: 0;
}

.tag:after {
	content: ',';
}

.tag:last-child:after {
	content: '';
}

.subtitle {
	border-bottom: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	padding-bottom: 1rem;
	/* font-style: italic; */
	color: light-dark(var(--lightmode-subtitle-color), var(--darkmode-subtitle-color));
}

.subtitle p {
	color: light-dark(var(--lightmode-subtitle-color), var(--darkmode-subtitle-color));
	filter: contrast(30%);
	font-style: italic;
}

.subtitle p::before {
	content: '<!-- ';
	font-variant-ligatures: no-contextual;
	font-style: normal;
	color: light-dark(var(--lightmode-subtitle-color), var(--darkmode-subtitle-color));
}

.subtitle p::after {
	content: ' -->';
	font-variant-ligatures: no-contextual;
	font-style: normal;
	color: light-dark(var(--lightmode-subtitle-color), var(--darkmode-subtitle-color));
}

ul.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding-top: 1rem;
	margin-left: -2.5rem;
}

a.page-link {
	padding: .2rem;
}

h1 {
	font-size: 1.7rem;
	display: block;
}

h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	font-size: 1.4rem;
	padding-top: 0.8em;
}

.highlight {
	font-size: 90%;
	width: 100%;
	line-height: 1.4rem;
	position: relative;

}

.footnotes > hr {
	border: none;
}

.footnotes {
	border-top: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

pre {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: solid 2px light-dark(var(--lightmode-border-color), var(--darkmode-border-color));
	border-radius: 10px;
	font-family: var(--font-code);
	font-size: 90%;
	overflow-x: auto
}

ul li > code {
	filter: contrast(30%);
	font-family: var(--font-code);
	font-size: 95%;
}

li > code::before {
	content: '\'';
}

li > code::after {
	content: '\'';
}

p > code {
	filter: contrast(30%);
	font-family: var(--font-code);
	font-size: 95%;
}

p > code::before {
	content: '\'';
}

p > code::after {
	content: '\'';
}

.content .footnotes {
	margin-left: 0;
	margin-top: 2rem;
	font-size: 90%;
}

img {
	width: 100%;
	border: solid 1px light-dark(var(--lightmode-border-color), var(--darkmode-border-color));
}

/* zoom image on click */
img:active {
  transform: scale(1.5);
  transition: 0.5s;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow:
	  0 1px 1px rgba(0, 0, 0, 0.2),
	  0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 500;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

mark {
	background-color: light-dark(var(--lightmode-mark-bg-color), var(--darkmode-mark-bg-color));
	padding-left: 2px;
	padding-right: 2px;
}

blockquote {
	border: solid light-dark(var(--lightmode-quote-color), var(--darkmode-quote-color));
	border-radius: 0.4rem;
	border-width: 0 0 0 5px;
	padding-left: 0.5rem;
}

table {
	border-collapse: collapse;
	width: 98%;
	border: 1px solid light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
}

th, td {
	border: 1px solid light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	padding-left: 5px;
}

td {
	text-align: left;
}

caption {
	font-weight: bold;
}

.toc-block {
	margin: 1rem 0;
	border: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	border-width: 0 0 1px;
	padding: 0 0 1rem;
}

.toc-block .toctitle{
	margin-left: 0%;
	color: light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	font-family: var(--font-title);
	font-size: 95%;
}

.toc-block .toctitle:hover {
	font-weight: 400;
}

.toc-block h2 {
	font-size: 0.9rem;
	margin: 0;
}

.toc {
	margin: 0 2rem 0 1.5rem;
}

.toc ol {
	counter-reset: item;
	padding-left: 0;
	/* line-height: 1.4; */
}

.toc li {
	clear: both;
	list-style: none;
}

.toc li:before {
	counter-increment: item;
	content: counters(item, ".") ". ";
	padding-right: 0.5rem;
}

footer {
	margin-top: 2rem;
	font-size: 16px;
	text-align: center;
	border-top: dashed 1px light-dark(var(--lightmode-fg-color), var(--darkmode-fg-color));
	margin-block: 3rem;
}

/* fix tabwidth default to 8 with noclasses = false and text size rendering issues
https://discourse.gohugo.io/t/is-using-pygmentsuseclasses-true-affecting-the-tabwidth/31648/2 
https://nathan.rs/posts/fixing-ios-codeblocks/ */
pre.chroma {
	text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
  }


/* margin notes and side notes from tufte-css*/
.margin-toggle {
	display: none;
}

.sidenote,
.marginnote {
	  float: right;
	  clear: right;
	  margin-right: -50%;
	  width: 45%;
	  margin-top: 0.3rem;
	  margin-bottom: 0;
	  font-size: 90%;
	  line-height: 1.2;
	  vertical-align: baseline;
	  position: relative;
	  filter: contrast(30%);
}


label.sidenote-number {
	  display: inline;
	  position: relative;
	  top: -0.5rem;
	  font-size: 70%;
	  user-select: none;
	  filter: contrast(30%);
  }

label.margin-toggle:not(.sidenote-number) {
	  display: none;
  }

@media(max-width: 1380px) {
	body {
		max-width: 860px;
		margin-left: 2rem;
	}
}

@media(min-width: 861px) {
	body {
		max-width: 860px;
	}
}

@media(max-width: 860px) {
	body {
		width: 90%;
		margin-left: 1rem;
	}

 	header {
		position: relative;
		align-items: center;
	}

	ul.article-list li span.tag {
		display: inline-flex;
		font-size: 90%;	
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}

	.article-list li {
		display: block;
		margin-bottom: 0.5rem;
	}

	.article-list li a {
		display: block;
	}

	.article-list .divider {
		display: none;
	}

	.article-list .pubdate:before {
		content: 'Date: ';
	}

	.front-block .meta {
		display: block;
	}

	.front-block .title {
		display: block;
	}

	.sidenote,
	.marginnote {
		display: none;
	}
	.margin-toggle:checked + .sidenote,
	.margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative;
	}

	.menu {
		padding-top: 1rem;
		font-size: 90%;
	}

	.toc-block {
		overflow: hidden;
  		white-space: nowrap;
  		text-overflow: ellipsis;
	}

	.hamburger {
    	display: block;
  	}

  	.nav-links {
    	display: none;
    	flex-direction: column;
    	gap: 0.2rem;
    	width: 100%;
		position: absolute;
    	right: 0;
    	z-index: 999;
		width: max-content;
    	background: light-dark(var(--lightmode-bg-color), var(--darkmode-bg-color));
  	}

  	.menu-toggle:checked ~ .nav-links {
    	display: flex;
		align-content: space-between;
  	}

  	.menu-toggle:checked ~ .hamburger {
    	content: "✕";
  	}

	}
}
